<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Axuta is a colofull app landing page template">
        <meta name="author" content="TeamXcel">
       
        <title>Adalsite | Soo Dhawow</title>
        
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- Elegant Font Icons CSS -->
        <link rel="stylesheet" href="css/elegant-font-icons.css">
        <!-- Elegant Line Icons CSS -->
        <link rel="stylesheet" href="css/elegant-line-icons.css">
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Slicknav CSS -->
        <link rel="stylesheet" href="css/slicknav.min.css">
        <!-- animate CSS -->
        <link rel="stylesheet" href="css/animate.min.css">
		<!-- OWL-Carousel CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <!-- Swiper CSS -->
        <link rel="stylesheet" href="css/swiper.min.css">
		<!-- Main CSS -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Responsive CSS -->
        <link rel="stylesheet" href="css/responsive.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body data-spy="scroll" data-target="#navmenu" data-offset="70">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="site-preloader-wrap">
            <div class="spinner"></div>
        </div><!-- Preloader -->
        
        <header id="header" class="header-section">
            <div class="container">
                <nav class="navbar">
                    <a href="#" class="navbar-brand"><img src="img/logo.png" alt="Axuta"></a>
                    <div class="d-flex menu-wrap">
                       <ul class="nav">
                            <li ><a data-scroll class="nav-link active" href="#home">Guri <span class="sr-only">(current)</span></a></li>
                            <li><a data-scroll class="nav-link" href="#feature">Adeegyada</a></li>
                            <li><a data-scroll class="nav-link" href="#screenshots">Applicationka</a></li>
                            <li><a data-scroll class="nav-link" href="#download">So dejiso</a></li>
                        </ul>
                        <div class="header-btn">
                            <a href="/login" class="default-btn" style="background-color: #f33106;">Gal Gudaha</a>
                        </div>
                    </div>
                </nav>
            </div>
		</header><!-- Header Section -->
            
        <section id="home" class="hero-section">
            <div class="container">
                <div class="hero-content">
                    <h1>Kusoo Dhawow Gacmo Furan<br>Adalsite</h1>
                    <p>Adalsite Waa goob Ganacsi oo Ka Shaqeysa Isku xidhka<br>Macaamiisha iyo Ganacsiyada</p>
                    <div class="btn-group">
                        <a href="#"><img src="img/appstore.png" alt="appstore"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.adalsite" target="_blank"><img src="img/playstore.png" alt="playsotre"></a>
                    </div>
                </div>
            </div>
            <div class="hero-moc"></div>
        </section><!-- Hero Section -->
        
        <section class="promo-section padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 sm-padding">
                        <div class="promo-content text-center" >
                            <i  class="icon-basket icon" ></i>
                            <h3>Ecommerce</h3>
                            <p> adalsite waxaad ku iibin kartaa ama aad ka iibsan karta alaab 
                            	walbo meel kasto oo aad joogto  si lacag la'aan 
                            </p>
                        </div>
                    </div><!-- Promo-1 -->
                    <div class="col-md-4 col-sm-6 sm-padding">
                        <div class="promo-content text-center">
                            <i class="icon-calendar icon" style="background-color: #f33106"></i>
                            <h3>Booking</h3>
                            <p>
                            	adalsite waxaad ka ka kireysan karta hoteelada ama aad ka goosan karta tikidha gaawidha gobolada ubaxa, diyaarada
                            </p>
                        </div>
                    </div><!-- Promo-1 -->
                    <div class="col-md-4 col-sm-6 sm-padding">
                        <div class="promo-content text-center">
                            <i class="icon_house icon" style="background-color: #f33106"></i>
                            <h3>Real State</h3>
                            <p> Adalsite waxaa ka dhisan karta ama ka iibsan karta guryada iyo dhulka adiga oo jooga dalka dibadiisa</p>
                        </div>
                    </div><!-- Promo-3 -->
                </div>
            </div>
        </section><!-- Promo Section -->
        
        <section class="content-section bg-grey padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content-mockups">
                            <div class="mockup-back"></div>
                            <div class="mockup-front"></div>
                        </div>   
                    </div>
                    <div class="col-lg-6">
                       <div class="section-heading mb-40">
                           <h2>Waxa Aad Ka Heleysid Application</h2>
                           <p>Applicationka Adalsite waxa uu ka Kooban Yahay Qaybo Badan</p>
                       </div>
                        <div class="content-lists">
                            <div class="list-item">
                                <i class="icon-tools"></i>
                                <div class="list-content">
                                    <h3>Ka Adeego</h3>
                                    <p>Waxaa aad ka heleysaa goob ay ku kulmeen tukaamo badan <br> oo ka iibsato alaabta aad rabto</p>
                                </div>
                            </div>
                            <div class="list-item">
                                <i class="icon-pictures"></i>
                                <div class="list-content">
                                    <h3>Ka Kireyso</h3>
                                    <p>Application waxa aad ka kireysan karta hotel, guri ama goob ganacsi <br>oo uu wakhti iyo tamarba kaaga baxdey raadintiisa.</p>
                                </div>
                            </div>
                            <div class="list-item">
                                <i class="icon-genius"></i>
                                <div class="list-content">
                                    <h3>Ka Gooso</h3>
                                    <p>waxaad ka goosan karta application ticket yada gaadiidka u kala safra gobolada, ticket yada diyaarada<br> ama goobaha caafimaad ee lagu galo ticketka adiga oo joogo gurigaaga ama goobta shaqadaada.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Content Section -->
        
        <section id="feature" class="features-section padding">
            <div class="container">
               <div class="section-heading text-center mb-60">
                   <h2>Adeegyada Kale </h2>
                   <p>Adeegyada kale ee aan Qabano Waxaa ka mid ah</p>
               </div>
                <div class="row feature-wrap">
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-content text-center">
                            <i class="icon-laptop"></i>
                            <h3>Shabakad</h3>
                            <p>sameynta ama casriyeynta shabakada oo aan kugu sameyneyno technologyadyada ugu danbeysey</p>
                        </div>
                    </div><!-- Feature-1 -->
                    <div class="col-md-4 col-sm-6 xs-padding">
                        <div class="feature-content text-center">
                            <i class="icon-phone "></i>
                            <h3>Application</h3>
                            <p>Sameynta application kuugu shaqeeya labada platform ee Androidka iyo Ios kaba</p>
                        </div>
                    </div><!-- Feature-2 -->
                    <div class="col-md-4 col-sm-6 xs-padding">
                        <div class="feature-content text-center">
                            <i class="icon-genius"></i>
                            <h3>Xayeysiis</h3>
                            <p>Sameynta xayeysiisyada ganacsiyada sida cardka shaqada,banners iyo muuqaalo xayeysiis ah</p>
                        </div>
                    </div><!-- Feature-3 -->
                     
                    
                </div>
            </div>
        </section><!-- Feature Section -->
        
        <section id="screenshots" class="screenshots-section bg-grey padding">
		    <div class="container">
		        <div class="section-heading mb-60 text-center">
		            <h2>Qaabka Application</h2>
		            <p>Qaabka uu u eegyahay applicationkayagu</p>
		        </div>
		         <div class="swiper-container">
                    <div class="mobile-mock">
                        <div class="screen"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                        	<img class="w-100" src="img/screenshot-1.jpg" alt="screenshot">
                        </div>
                        <div class="swiper-slide">
                        	<img class="w-100" src="img/screenshot-2.jpg" alt="screenshot">
                        </div>
                        <div class="swiper-slide">
                        	<img class="w-100" src="img/screenshot-3.jpg" alt="screenshot">
                        </div>
                        <div class="swiper-slide">
                        	<img class="w-100" src="img/screenshot-4.jpg" alt="screenshot">
                        </div>
                        <div class="swiper-slide">
                        	<img class="w-100" src="img/screenshot-5.jpg" alt="screenshot">
                        </div>
                        <div class="swiper-slide">
                        	<img class="w-100" src="img/screenshot-6.jpg" alt="screenshot">
                        </div>
                        <div class="swiper-slide">
                        	<img class="w-100" src="img/screenshot-7.jpg" alt="screenshot">
                        </div>
                        <div class="swiper-slide">
                        	<img class="w-100" src="img/screenshot-8.jpg" alt="screenshot">
                        </div>
                    </div>
                    <!-- Carousel Arrows -->
				    <div class="swiper-next"><i class=" arrow_carrot-right"></i></div>
				    <div class="swiper-prev"><i class=" arrow_carrot-left"></i></div>
                </div>
		    </div>
		</section><!-- Screenshots Section -->
          
        <section id="download" class="download-section padding">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <div class="download-content">
                            <h2>Soo Dejiso Hadeer!</h2>
                            <p>Waad Ka Heli Karta Applicationka Adalsite Play Storeka iyo App Storekaba</p>
                            <div class="btn-group">
                                <a href="#"><img src="img/appstore.png" alt="btn"></a>
                                <a href="https://play.google.com/store/apps/details?id=com.adalsite" target="_blank"><img src="img/playstore.png" alt="btn"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 xs-d-none">
                       <img src="img/download-moc.png" alt="mockup"/>
                    </div>
                </div>
            </div>
        </section> <!-- Download Section --> 
           
         
        <div id="subscribe" class="subscribe-section padding" style="background-color:#f33106"> 
		    <div class="container text-center">
                <div class="subscribe-content">
                   <img class="logo" src="img/footer-Logo.png" alt="logo"/>
                    <p>Nagala Soo Xidhiidh E-mail: Info@adalsite.com Ama Tel: 0636742417, 0656742417,</p>
                    
                </div>
		         
                <div class="clearfix"></div>
                <ul class="social-link">
                     <li><a href="https://www.facebook.com/theadalsite" target="_blank"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="https://twitter.com/adal_site" target="_blank"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="https://www.instagram.com/adalsite/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul><!-- /.social_link -->
		    </div>
		</div><!-- Subscribe Section -->    
		    
		<footer class="footer-section align-center">
			<div class="container">
				<p>&copy; 2018 Adalsite</p>
			</div>
		</footer><!-- /.footer_section -->

		<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_carrot-up"></i></a>
	
		<!-- jQuery Lib -->
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/vendor/bootstrap.min.js"></script>
		<!-- Tether JS -->
		<script src="js/vendor/tether.min.js"></script>
		<!-- Slicknav JS -->
		<script src="js/vendor/jquery.slicknav.min.js"></script>
		<!-- OWL-Carousel JS -->
		<script src="js/vendor/owl.carousel.min.js"></script>
		<!-- Swiper JS -->
		<script src="js/vendor/swiper.min.js"></script>
		<!-- Smooth Scroll JS -->
		<script src="js/vendor/smooth-scroll.min.js"></script>
		<!-- Ajaxchimp JS -->
		<script src="js/vendor/jquery.ajaxchimp.min.js"></script>
		<!-- Wow JS -->
		<script src="js/vendor/wow.min.js"></script>
		<!-- Main JS -->
		<script src="js/main.js"></script>

    </body>
</html>